<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">EXPÉRIENCE DE TRAVAIL</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">GROUPE WOLIKHAI</div>
                                        <div class="h6 mt-0 title">2023</div>
                                        <p align="justify">Développement d’un logiciel de facturation client de l’entreprise GROUPE WOLIKHAI
                                        </p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">.NET CORE</li>
                                                        <li class="non_list">AZURE</li>
                                                        <li class="non_list">MYSQL</li>
                                                        <li class="non_list">ANGULAR</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">MONGODB</li>
                                                        <li class="non_list">SPRING BOOT</li>
                                                        <li class="non_list">DB2</li>
                                                        <li class="non_list">Shel-Script</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down bg-danger">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                      <div class="h5 mt-0 title">GROUPE WOLIKHAI</div>
                                        <div class="h6 mt-0 title">2021 à 2022</div>
                                        <p align="justify">Développement d’un logiciel de gestion des stations pétroles.</p>
                                        <p align="justify">  Développement d’un logiciel de facturation client de l’entreprise.</p>
                                      
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">.NET CORE</li>
                                                        <li class="non_list">AZURE</li>
                                                        <li class="non_list">MYSQL</li>
                                                        <li class="non_list">ANGULAR</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">Microsoft Azure</li>
                                                        <li class="non_list">Vaadin Web Framework</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                          <div class="timeline-badge down bg-green">
                              <i class="fa fa-check"></i>
                          </div>
                          <div class="timeline-panel">
                              <div class="row">
                                  <div class="col-lg-6 ">
                                      <div class="h5 mt-0 title">GROUPE WOLIKHAI</div>
                                      <div class="h6 mt-0 title">2020 à 2021</div>
                                      <p align="justify">Développement d’un logiciel de gestion des stations pétroles.</p>
                                      <p align="justify">Intégration de l’API Orange Money, PAYPAL pour un site e-commerce.</p>
                                      <p align="justify">Développement d’un site de formation en ligne.</p>
                                  </div>    
                                  <div class="col-lg-6">       
                                      <ul>
                                          <li class="list">Core Functionality</li>
                                          <ul>
                                              <li class="non_list">Software Development</li>
                                              <li class="non_list">Application Development</li>
                                              <li class="non_list">Web Development</li>
                                          </ul>
                                          <li class="list">Technologies and Language</li>
                                          <ul>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <li class="non_list"> PHP/LARAVEL</li>
                                                      <li class="non_list"> ELECTRON JS</li>
                                                      <li class="non_list">GUZZLEHTTP</li>
                                                      <li class="non_list">CRM</li>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <li class="non_list">Python</li>
                                                      <li class="non_list">Microsoft Azure</li>
                                                      <li class="non_list">Vaadin Web Framework</li>
                                                      <li class="non_list">Git</li>
                                                  </div>
                                              </div>   
                                          </ul>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </li>
                    </ul>
                </div>
    </div>
</div>
        