<div class="section" id="services">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="h4 text-center mb-4 title">MES SERVICES</div>
      <div class="row m-3">
        <div class="col-md-6">
          <div class="feature-box-01 bg-1">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <div class="feature-content">
              <h5>Développement d'applications web</h5>
              <p> Concevoir, développer et déployer des applications web complètes en utilisant des technologies
                front-end
                (comme Angular ou Vue.js) et des technologies back-end (telles que JAVA, PHP, C#, Laravel, etc.).</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-box-01 bg-2">
            <div class="icon"><i class="bi bi-phone"></i></div>
            <div class="feature-content">
              <h5>Développement d'applications mobiles</h5>
              <p>Créer des applications mobiles natives ou hybrides pour Android et iOS en utilisant des frameworks tels
                que Ionic, Flutter ou des langages comme PHP Native.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-box-01 bg-3">
            <div class="icon"><i class="bi bi-globe2"></i></div>
            <div class="feature-content">
              <h5>Développement d'API</h5>
              <p> Concevoir des API RESTful ou GraphQL pour permettre la communication entre différentes parties d'une
                application ou entre différentes applications.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-box-01 bg-4">
            <div class="icon"><i class="bi bi-columns"></i></div>
            <div class="feature-content">
              <h5>Intégration de systèmes</h5>
              <p>Connecter et intégrer des systèmes existants, applications tierces, ou bases de données avec de
                nouvelles
                solutions logicielles.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-box-01 bg-5">
            <div class="icon"><i class="bi bi-distribute-vertical"></i></div>
            <div class="feature-content">
              <h5>Développement de logiciels sur mesure</h5>
              <p>Concevoir des logiciels sur mesure pour répondre aux besoins spécifiques de l'entreprise de vos
                clients.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-box-01 bg-6">
            <div class="icon"><i class="bi bi-lock"></i></div>
            <div class="feature-content">
              <h5>Sécurité des applications</h5>
              <p>Mettre en œuvre des pratiques de sécurité robustes pour protéger les applications contre les
                vulnérabilités et les attaques.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>