<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">À propos de moi</div>
                            <p align="justify">Depuis mon plus jeune âge, j’ai toujours eu un sentiment de motivation et de passion qui me poussait à avancer. Qu'il s'agisse d'explorer des opportunités uniques, d'acquérir des compétences supplémentaires ou de rencontrer de nouvelles personnes, j'apporte ces valeurs à chaque expérience tout au long de ma vie, sur le plan personnel et professionnel.</p>
                            <p align="justify">Amoureux de l'innovation et de tout ce qui touche à la génération de nouvelles connaissances. Affrontez les problèmes avec le sourire et résolvez-les dans les plus brefs délais. Très calculé sur le temps que je passe et le travail que je fais.</p>
                            <p align="justify">Pour en savoir plus sur moi, continuez à explorer mon site ou contactez-nous directement.</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Informations de base</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date de naissance:</strong>
                            </div>
                            <div class="col-sm-8">Septembre 10, 1993</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">E-mail:</strong>
                            </div>
                            <div class="col-sm-8">mamadoudiouma93bah@gmail</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Numéro de portable:</strong>
                            </div>
                            <div class="col-sm-8">+224 628 94 60 19</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Adresse:</strong>
                            </div>
                            <div class="col-sm-8">#Sonfonia Commune/Ratoma</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Langue:</strong>
                            </div>
                            <div class="col-sm-8">Poular, Français</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

