<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Éducation</div>

        <div class="card">
              <div class="row">
                  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                          <p>2023</p>
                      <div class="h5">Data Science et le Machine Learning </div>
                      </div>    
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Data Science et le Machine Learning </div>
                              <h4 class="category">Apprenez-la Data Science et le Machine Learning avec Python ! </h4>
                              <ul>
                                  <li> Udemy</li>
                                      <li>Apprenez-la Data Science et le Machine Learning avec Python <b>! (NumPy, Pandas, Matplotlib, Scikit-Learn)</b>.</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2019</p>
                        <div class="h5">Licence Professionnelle </div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Licence Professionnelle </div>
                                <h4 class="category">Spécialité développeur informatique</h4>
                                <ul>
                                    <li> IUHEG <b>Prémier de l promotion</b>  </li>
                                        <li>Institut Universitaire des Hautes Études de Guinée (IUHEG) <b>(Mention trés bien)</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2012-2015</p>
                        <div class="h5">École secondaire </div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">École secondaire </div>
                                <h4 class="category">Science Mathématique</h4>
                                <ul>
                                        <li>Terminé avec <b>75.6%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               